<div class='content-area'>
  <div class="content-area-box">
    <div class="container p-5">
      <p id="notice"><%= notice %></p>

      <h1 class="border-bottom mb-4 text-center border-warning">सभी उत्सव</h1>

      <div class="row text-center">
        <% @programs.each do |program| %>
          <div class="col-md-4">
            <%= link_to program do %>
              <div class="card bg-danger text-white mb-4 shadow-sm">
                <div class="card-header"><strong><%= program.program_name %></strong></div>
                <div class="card-body">
                  <div class="card-title"><%= program.program_date.strftime('%e %b, %Y को %l:%M %P बजे') %></div>
                  <div class="card-text"><%= program.program_place %></div>
                  <!-- <p><%= program.program_activity %></p>
                  <p><%= program.program_description %></p> -->
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
