<p id="notice"><%= notice %></p>

<p>
  <strong>Diningtitle:</strong>
  <%= @diningtable.diningtitle %>
</p>

<p>
  <strong>Diningdesc:</strong>
  <%= @diningtable.diningdesc %>
</p>

<p>
  <strong>Image:</strong>
  <%= @diningtable.image %>
</p>

<%= link_to 'Edit', edit_diningtable_path(@diningtable) %> |
<%= link_to 'Back', diningtables_path %>
