<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol> -->
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("shree_ram_parivar.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>

        <div class="carousel-caption d-md-block">
          <h1>ЁЯЩПредред рдЬрдп рд╕рд┐рдпрд╛ рд░рд╛рдо рдЬрдп рдЬрдп рд╕рд┐рдпрд╛ рд░рд╛рдо редредЁЯЩП</h1>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("madir-pujan.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("mandir-prangan.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("mandir-view.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("kalika-mata.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("sarovar.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("shree-hanuman-ji.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("shree-thareshee-baba.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("gaushala.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% if current_date?(@suvichar.updated_at) %>
  <div class="flower-bg">
    <div class="container py-3">
      <h6 class="text-center text-white">рдЖрдЬ рдХрд╛ рд╕реБрд╡рд┐рдЪрд╛рд░ <br /><span class="fs-6">тАУтАУтАУтЭАреРтЭАтАУтАУтАУ</span></h6>
      <div class="suvichar-box suvichar-bg text-center">
        <div class="p-3 suvichar-content">
          <div class="svr-item">
            <%= @suvichar.suvichar_text.html_safe %>
          </div>
          <div class="read-more btn btn-sm">рдФрд░ рдкреЭреЗ тЖУ</div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="programs-box">
  <div class="album py-4 bg-warning">
    <div class="programs">
      <h2>рдЕрдЧрд▓рд╛ рдорд╣реЛрддреНрд╕рд╡ рдЙрддреНрд╕рд╡:</h2>
      <% @math_programs.each do |program| %>
        <% if program_date_start(program.program_date) %>
          <p>
            <%= link_to program_path(program) do %>
              <%= program.program_name %>:- <span><%= date_checks(program.program_date) %></span>
            <% end %>
          </p>
        <% end %>
      <% end %>
      <%= link_to 'рд╕рднреА рдЙрддреНрд╕рд╡', programs_path, class: 'btn btn-danger mt-4' %>
    </div>
    <span id="about"></span>
  </div>
</div>

<div class="album py-4 bg-danger ram">
  <div class="container">
    <div class="starter-template pb-0">
      <h1 class="text-center text-white">рдорда рдХреЗ рдмрд╛рд░реЗ рдореЗрдВ рдХреБрдЫ рдорд╣рддреНрд╡рдкреВрд░реНрдг рдЖрд╕реНрдерд╛рдП</h1>
      <div class="text-left text-white">
        <p>рдХрд▓реНрдпрд╛рдгрдкреБрд░ рдард░реЗрд╢реНрд░реА рдмрд╛рдмрд╛ рдорда рдХрд╛ рд░рд╣рд╢реНрдп рд▓рдЧрднрдЧ рджреЛ рд╕реМ рд╕рд╛рд▓ рдкреБрд░рд╛рдирд╛ рд╣реИ. рдЗрд╕ рдЬрдЧрд╣ рдХреА рдорд╛рдиреНрдпрддрд╛рдпреЗ рдмрд╣реБрдд рд╡рд┐рд╢реНрд╡рд╕рдиреАрдп рд╣реИ. рдпрд╣рд╛рдБ рдкрд░ рдорд╛рдВрдЧреА рдЧрдИ рдХреЛрдИ рднреА рдЖрд╢реНрдерд╛ рд╡рд┐рдлрд▓ рдирд╣реАрдВ рд╣реЛрддреА рд╣реИ.</p> 
          <p>рдХрдИ рд╡рд░реНрд╖ рдкрд╣рд▓реЗ рдард░реЗрд╢реНрд░реА рдмрд╛рдмрд╛ рдЬреА рдиреЗ рдЗрд╕ рд╕реНрдерд╛рди рдкрд░ рд╕рдорд╛рдзреА рд▓реЗ рд▓реА рдереА рдФрд░ рдЙрд╕ рд╕реНрдерд╛рди рдкрд░ рдЙрдиреНрд╣реЛрдВрдиреЗ рдЦреБрдж рдПрдХ рдкреАрдкрд▓ рдХрд╛ рдкреЗреЬ рд▓рдЧрд╛рдпреЗ рдереЗ рдФрд░ рдЙрдиреНрд╣реЛрдВрдиреЗ рдмреЛрд▓реЗ рдереЗ рдХреА рдЬрдм рддрдХ рдпреЗ рдкреАрдкрд▓ рдХреА рдкреЗреЬ рд╣рд░рд╛ рднрд░рд╛ рд░рд╣реЗрдЧрд╛ рдореЗрд░реА рдкреНрд░рд╛рдг рдФрд░ рдЖрд╢реНрдерд╛ рдпрд╣рд╛рдБ рдкрд░ рд░рд╣реЗрдЧреА. рддрдм рд╕реЗ рдЙрд╕ рд╕реНрдерд╛рди рдкрд░ рдЙрдирдХреА рдкреВрдЬрд╛ рд╣реЛрддреА рдЖ рд░рд╣реА рд╣реИ. рдЗрд╕ рдЬрдЧрд╣ рдкрд░ рдорд╛рдВрдЧреА рдЧрдИ рд╣рд░ рдордиреНрдирдд рдкреВрд░реА рд╣реЛрддреА рд╣реИ.</p> 
        <p class="m-0">рдЗрд╕ рдЬрдЧрд╣ рдкрд░ рд╢реНрд░реА рд░рд╛рдо рджрд░рдмрд╛рд░, рдорд╣рд╛рдХрд╛рд▓реЗрд╢реНрд╡рд░, рд╢реНрд░реА рд╣рдиреБрдорд╛рди рдЬреА, рд╢реНрд░реА рдХрд╛рд▓рд┐рдХрд╛рдорд╛рддрд╛ рдЬреА, рдард░реЗрд╢реНрд░реА рдмрд╛рдмрд╛ рдФрд░ рдЕрдиреНрдп рджреЗрд╡ рдХреА рдкреВрдЬрд╛ рдПрд╡рдВ рдЕрд░реНрдЪрдирд╛ рд╣реЛрддреА рд╣реИ. рдиреАрдЪреЗ рд╕реНрдерд╛рдкрд┐рдд рджреЗрд╡ рд╕реНрдерд╛рдиреЛрдВ рдХреА рджрд░реНрд╢рди рдХрд░ рдЖрдк рднреА рдкреБрдЬреНрдп рдХреЗ рднрд╛рдЧреА рдмрдиреЗ... ЁЯЩПрдЬрдп рд╢реНрд░реА рд░рд╛рдоЁЯЩП</p>
      </div>
    </div>
    <div class="row math-sthans link-inherit">
      <% @dev_sthans.each do |sthan| %>
        <div class="col-md-3">
          <hr>
          <%= link_to dev_sthan_url(sthan) do %>
            <div class="card border-warning mb-4 shadow-sm">
              <h4 class="card-header bg-warning text-white text-center"><%= sthan[:sthan_name] %></h4>
              <div class="card-body bg-danger p-0">
                <%= image_tag(dev_sthan_image_load(sthan.sthan_image, sthan[:label], '-small'), border:0, width: '100%', alt: sthan[:sthan_name], class: "d-block w-100 slider-class") %>
              </div>
              <div class="card-footer bg-warning">
                <div><%= short_description(sthan[:sthan_description]).html_safe %></div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>