<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("first.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class") %>
      <div class="carousel-caption d-md-block">
        <h1>||JAI SIYA RAM JAI JAI SIYA RAM||</h1>
      </div>
    </div>
    <!-- <div class="carousel-item">
      <%= image_tag("second.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class") %>
      <div class="carousel-caption d-md-block">
        <h1>Welcome to Shree Ram Janaki Math</h1>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("third.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class") %>
      <div class="carousel-caption d-md-block">
        <h1>Welcome to Shree Ram Janaki Math</h1>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("forth.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class") %>
      <div class="carousel-caption d-md-block">
        <h1>Welcome to Shree Ram Janaki Math</h1>
      </div>
    </div> -->
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="starter-template" id="about">
  <h1>More About Shree Ram Janaki Math</h1>
</div>

<div class="album py-5 bg-danger">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="display-5 text-center">Thareshee Baba Sthaan</h3>
        <div class="card mb-4 shadow-sm">
          <%= image_tag("small-temple.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class") %>
          <div class="card-body">
            <p class="lead text-center">Some text should be add here related to it's heading...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="display-5 text-center">Mahabali Hanuman Sthaan</h3>
        <div class="card mb-4 shadow-sm">
          <%= image_tag("small-temple.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class") %>
          <div class="card-body">
            <p class="lead text-center">Some text should be add here related to it's heading...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="display-5 text-center">Kalika Mata Sthaan</h3>
        <div class="card mb-4 shadow-sm">
          <%= image_tag("small-temple.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class") %>
          <div class="card-body">
            <p class="lead text-center">Some text should be add here related to it's heading...</p>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>