<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol> -->

  <%= link_to image_tag("first.jpg", border:0), image_url('first.jpg'), class: "d-none w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images' %>
  <%= link_to image_tag("first.jpg", border:0), image_url('second.jpg'), class: "d-none w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images' %>
  <%= link_to image_tag("first.jpg", border:0), image_url('third.jpg'), class: "d-none w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images' %>
  <%= link_to image_tag("first.jpg", border:0), image_url('forth.jpg'), class: "d-none w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images' %>

  
  <div class="carousel-inner">
    <div class="main-details-homepage">
      <div class="carousel-caption d-md-block">
        <h1>ЁЯЩПредред рдЬрдп рд╕рд┐рдпрд╛ рд░рд╛рдо рдЬрдп рдЬрдп рд╕рд┐рдпрд╛ рд░рд╛рдо редредЁЯЩП</h1>
      </div>
    </div>
    <div class="carousel-item active">
      <%= image_tag("first.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("second.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("third.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("forth.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="programs-box">
  <div class="album py-5 bg-warning">
    <div class="programs">
      <h2>рдЕрдЧрд▓рд╛ рдорд╣реЛрддреНрд╕рд╡ рдХрд╛рд░реНрдпрдХреНрд░рдо:</h2>
      <p>рд╢реНрд░реА рд░рд╛рдо рд╡рд┐рд╡рд╛рд╣рдкрдЮреНрдЪрдореА:- <span>19 Dec, 2020</span></p>
      <p>рддреБрд▓рд╕реА рдкреВрдЬрди рджрд┐рд╡рд╕:- <span>25 Dec, 2020</span></p>
    </div>
    <div class="text-center pt-5">
      <%= link_to 'рдЧреИрд▓рд░реА', image_url('first.jpg'), class: 'btn btn-danger', data: { lightbox: "lightboxId"}, 'data-title': 'images' %>
    </div>
  </div>
</div>

<div class="album py-5 bg-danger ram">
  <div class="container">
    <div class="starter-template" id="about">
      <h1>рдорда рдХреЗ рдмрд╛рд░реЗ рдореЗрдВ рдХреБрдЫ рдорд╣рддреНрд╡рдкреВрд░реНрдг рдЖрд╕реНрдерд╛рдП</h1>
    </div>
    <hr />
    <div class="row math-sthans">
      <div class="col-md-4">
        <h3 class="display-5 text-center">рд╢реНрд░реА рдард░реЗрд╢реНрд░реАрдмрд╛рдмрд╛ рдЬреА рдХрд╛ рд╕реНрдерд╛рди  </h3>
        <div class="card mb-4 shadow-sm">
          <%= image_tag("small-temple.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class") %>
          <div class="card-body">
            <p class="lead text-center">рд╢реНрд░реА рдард░реЗрд╢реНрд░реАрдмрд╛рдмрд╛ рдЬреА рдХрд╛ рд╕реНрдерд╛рди...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="display-5 text-center">рд╢реНрд░реА рд╣рдиреБрдорд╛рди рдЬреА рдХрд╛ рд╕реНрдерд╛рди  </h3>
        <div class="card mb-4 shadow-sm">
          <%= image_tag("small-temple.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class") %>
          <div class="card-body">
            <p class="lead text-center">рд╢реНрд░реА рд╣рдиреБрдорд╛рди рдЬреА рдХрд╛ рд╕реНрдерд╛рди...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="display-5 text-center">рд╢реНрд░реА рдХрд▓рд┐рдХрд╛ рдорд╛рддрд╛ рдЬреА рдХрд╛ рд╕реНрдерд╛рди</h3>
        <div class="card mb-4 shadow-sm">
          <%= image_tag("small-temple.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class") %>
          <div class="card-body">
            <p class="lead text-center">рд╢реНрд░реА рдХрд▓рд┐рдХрд╛ рдорд╛рддрд╛ рдЬреА рдХрд╛ рд╕реНрдерд╛рди...</p>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>