<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol> -->

  <%= link_to image_tag("first.jpg", border:0), image_url('first.jpg'), class: "d-none w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images' %>
  <%= link_to image_tag("first.jpg", border:0), image_url('second.jpg'), class: "d-none w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images' %>
  <%= link_to image_tag("first.jpg", border:0), image_url('third.jpg'), class: "d-none w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images' %>
  <%= link_to image_tag("first.jpg", border:0), image_url('forth.jpg'), class: "d-none w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images' %>

  
  <div class="carousel-inner">
    <div class="main-details-homepage">
      <div class="carousel-caption d-md-block">
        <h1>ЁЯЩПредред рдЬрдп рд╕рд┐рдпрд╛ рд░рд╛рдо рдЬрдп рдЬрдп рд╕рд┐рдпрд╛ рд░рд╛рдо редредЁЯЩП</h1>
      </div>
    </div>
    <div class="carousel-item active">
      <%= image_tag("shree_ram_parivar.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("madir-pujan.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("mandir-view.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("first.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("madir-pokhara.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("second.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("third.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
    <div class="carousel-item">
      <%= image_tag("forth.jpg", border:0, alt: "Shree Ram Janaki Math", class: "d-block w-100 slider-class", data: { lightbox: "lightboxId"}, 'data-title': 'images') %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="programs-box">
  <div class="album py-5 bg-warning">
    <div class="programs">
      <h2>рдЕрдЧрд▓рд╛ рдорд╣реЛрддреНрд╕рд╡ рдЙрддреНрд╕рд╡:</h2>
      <% @math_programs.each do |program| %>
        <p>
          <%= link_to program_path(program) do %>
            <%= program.program_name %>:- <span><%= date_checks(program.program_date) %></span>
          <% end %>
        </p>
      <% end %>
      <%= link_to 'рд╕рднреА рдЙрддреНрд╕рд╡', programs_path, class: 'btn btn-danger mt-4' %>
    </div>
    <div class="text-center">
      <% link_to 'рдЧреИрд▓рд░реА', image_url('first.jpg'), class: 'btn btn-danger', data: { lightbox: "lightboxId"}, 'data-title': 'images' %>
    </div>
  </div>
</div>

<div class="album py-5 bg-danger ram">
  <div class="container">
    <div class="starter-template" id="about">
      <h1>рдорда рдХреЗ рдмрд╛рд░реЗ рдореЗрдВ рдХреБрдЫ рдорд╣рддреНрд╡рдкреВрд░реНрдг рдЖрд╕реНрдерд╛рдП</h1>
    </div>
    <hr />
    <div class="row math-sthans">
      <% @math_sthans.each do |sthan| %>
      <div class="col-md-4">
        <h3 class="display-5 text-center"><%= sthan[:sthan_name] %></h3>
        <div class="card mb-4 shadow-sm">
          <%= image_tag( math_sthan_iamge_load(sthan[:sthan_image]), border:0, width: '100%', alt: sthan[:sthan_name], class: "d-block w-100 slider-class") %>
          <div class="card-body">
            <p class="lead text-center"><%= sthan[:sthan_description] %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>