<div class="row">
  <% @order_items.each do |item| %>
    <div class="col-sm-6 col-md-4">
      <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><%= item.product.category %></h4>
          </div>
          <%= link_to image_tag(item.product.avatars.first.url.to_s, class: "card-img-top", style: 'width:100%;display: block;'), image_path(item.product.avatars.first.url.to_s), :data => {:lightbox => "#{item.product.category}#{item.id}"}, 'data-title': item.product.description %>
        <% item.product.avatars.each do |image| %>
        <%= link_to image_tag(image.url.to_s, class: "card-img-top d-none", style: 'width:100%;display: block;'), image_path(image.url.to_s), :data => {:lightbox => "#{item.product.category}#{item.id}"}, 'data-title': item.product.description %>
        <% end %>
          <div class="card-body">
            <h5><%= item.product.title %></h5>
            <p><%= item.product.description %></p>

            <div class="d-flex justify-content-between align-items-center">
              <div>
                <small>Price: <%= item.product.price %></small>
              </div>
              <small> Discount: <%= item.product.discount %></small>
            </div>
            <h6>Offered Price: Rs. <%= price_discount(item.product.price, item.product.discount) %>/-</h6>


            <div class="row">
              <div class="col-md-12">
                <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span>
                  <%= form_for item, remote:true do |f| %>
                    <%= f.hidden_field :product_id, value: item.product.id %>
                    <%= f.number_field :quantity, value: item.quantity.to_i %>
                    <%= f.submit 'Update Cart' %>
                  <% end %>
                </a> 
              </div>
              <div class="col-md-6">
                Subtotal: <%= item.total %></div>
            </div>

          </div>
        </div>
    </div>
  <% end %>
</div>


<hr>
<div>
  <h2>Your current cart value has subtotal of: <%= current_order.subtotal %> <%= link_to 'Payment', checkout_path, class: 'btn btn-primary' %></h2>
</div>
