<div class="container">
  <h2 class="alert alert-success">>Product Item details</h2>
  <div class="mb-4">
    <div>
      <p><strong>Title</strong><br /><%= @product.title %></p>
    </div>
    <div>
      <p><strong>Description</strong><br><%= @product.description %></p>
    </div>
    <div>
      <p>Colour Options: <%= @product.colour_options %></p>
    </div>
    <div>
      <p>Discount: <%= @product.discount %> %</p>
    </div>
    <div>
      <p>Price: <%= @product.price %></p>
    </div>
    <div>
      <p>Category: <%= @product.category %></p>
    </div>
    <div>
      <% @product.avatars.each do |avatar| %>
        <%= link_to image_tag(avatar.url.to_s, class: "card-img-top", style: 'width:100px;'), image_path(avatar.url.to_s), :data => {:lightbox => "#{@product.category}#{@product.id}"}, 'data-title': @product.description %> 
      <% end %>
    </div>
  </div>

  <p>
    <%= link_to 'Products', products_path, class: 'btn btn-info' %> | <%= link_to 'Edit', edit_product_path(@product.id), class: 'btn btn-info' %>
  </p>
</div>
