<!DOCTYPE html>
<html>
  <head>
    <title>рд╢реНрд░реА рд░рд╛рдо рдЬрд╛рдирдХреА рдард░реЗрд╢реНрд░реА рдмрд╛рдмрд╛ рдорда, рдХрд▓реНрдпрд╛рдгрдкреБрд░ ЁЯЩП</title>
    <meta name="description" content="рдХрд▓реНрдпрд╛рдгрдкреБрд░ рдард░реЗрд╢реНрд░реА рдмрд╛рдмрд╛ рдорда рдХрд╛ рд░рд╣рд╢реНрдп рд▓рдЧрднрдЧ рджреЛ рд╕реМ рд╕рд╛рд▓ рдкреБрд░рд╛рдирд╛ рд╣реИ. рдЗрд╕ рдЬрдЧрд╣ рдХреА рдорд╛рдиреНрдпрддрд╛рдпреЗ рдмрд╣реБрдд рд╡рд┐рд╢реНрд╡рд╕рдиреАрдп рд╣реИ. рдпрд╣рд╛рдБ рдкрд░ рдорд╛рдВрдЧреА рдЧрдИ рдХреЛрдИ рднреА рдЖрд╢реНрдерд╛ рд╡рд┐рдлрд▓ рдирд╣реАрдВ рд╣реЛрддреА рд╣реИ.">
    <meta name="keywords" content="рд╢реНрд░реА рд░рд╛рдо рдЬрд╛рдирдХреА рдорда, рдард░реЗрд╢реНрд░реА рдмрд╛рдмрд╛ рдорда, рдХрд▓реНрдпрд╛рдгрдкреБрд░ рдорда, kalyanpur math, Kalyanpur Gaon, Thareshree Baba math, Kalyanpur math purvi champaran bihar, Kalyanpur, Kalyanpur Barashankar, Kalyanpur Patahi Thana">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="<%= image_url("logo.svg") %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', :except=>'active_admin.scss', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext') %>
    <%= javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js') %>
  </head>

  <body>
    <%= audio_tag("mandir-ghanti.mp3", autoplay: true, "webkit-playsinline": true,
    "playsinline": true, controls: false, id: 'mandirGhanti') %>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark ram">
      <!-- Navigation -->
    <div class="container">
        <a class="navbar-brand logo" href="/">
          <span class="logo-img">
            <%= image_tag("logo.svg", border:0, width: '100%', alt: "Shree Ram Janaki Math") %>
          </span>
          <span class="logo-content">
            <span>рд╢реНрд░реА рд░рд╛рдо рдЬрд╛рдирдХреА</span>
            <span>рдард░реЗрд╢реНрд░реА рдмрд╛рдмрд╛ рдорда, рдХрд▓реНрдпрд╛рдгрдкреБрд░</span>
          </span>
        </a>

        <div class="time-box"></div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
          </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0)" data-target="about">рдорда рдХреЗ рдмрд╛рд░реЗ рдореЗрдВ</a>
                </li>
                <li class="nav-item">
                  <%= link_to 'рджреЗрд╡ рд╕реНрдерд╛рди', dev_sthans_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'рдЙрддреНрд╕рд╡', programs_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'рд╕реБрд╡рд┐рдЪрд╛рд░', suvichars_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'рдЧреИрд▓рд░реА', albums_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'рд╢рд┐рдХреНрд╖рд╛ рд╕рдВрд╕реНрдХреГрддрд┐', sanskrities_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript: void(0)" data-target="contact">рд╕рдВрдкрд░реНрдХ</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- Navigation -->
      <!--section-->
      <%= yield %>
      <!--section-->
<!--static on all pages-->
<div class="album py-5 bg-warning ram" id="subscribed">
  <div class="container color-white">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4>рдЬреБреЬреЗ рд╕рдВрдкрд░реНрдХ рд▓рд┐рд╕реНрдЯ рд╕реЗ </h4>
        <p>рдорда рдкрд░ рд╣реЛрдиреЗ рд╡рд╛рд▓реЗ рдХрд╛рд░реНрдпрдХреНрд░рдо рдХреЗ рдмрд╛рд░реЗ рдореЗрдВ рдФрд░ рдЖрд╕реНрдерд╛ рд╕реЗ рдЬреБреЬреА рдЬрд╛рдирдХрд╛рд░реА рдХреЗ рд▓рд┐рдП рдЬреБреЬрд┐рдпреЗ рд╣рдорд╛рд░реЗ рд╕рдВрдкрд░реНрдХ рд▓рд┐рд╕реНрдЯ рд╕реЗ| </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="max-width: 768px;margin:auto;">
        <%= form_for(Subscriber.new, remote: true) do |f| %>
          <div class="form-group row">
            <div class="col-8 col-sm-10">
              <%= f.text_field :email, :required => true, type: 'email', class: 'form-control form-control', placeholder: 'рдЕрдкрдирд╛ рдИрдореЗрд▓ рдЖрдИрдбреА рдбрд╛рд▓реЗ'  %>
            </div>
            <div class="col-3 col-sm-2">
              <%= f.submit 'Subscribe', value: 'рд▓рд┐рд╕реНрдЯ рд╕реЗ рдЬреБреЬреЗ ', class: 'btn btn-danger mb-2' %>
            </div>
          </div>
          <% end %>
          <div id="subscriber-message">
            <% if flash.now[:notice] %>
              <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
                <strong><%= notice %></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>
        </div>
        <span id="contact"></span>
      </div>
    </div>
  </div>
</div>

<div class="footer-area" id="contact">
  <div class="album py-5 contact-ftr">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4>рд╕рдВрдкрд░реНрдХ рдЖрд╕реНрдерд╛ рдмрдирд╛рдпреЗ рд░рдЦреЗ </h4>

          <%= form_for(Contact.new, remote: true) do |f| %>
            <div class="form-group">
            <%= f.text_field :name, :required => true, class: 'form-control', placeholder: 'рдЕрдкрдирд╛ рдирд╛рдо рд▓рд┐рдЦреЗ '  %>
            </div>
            <div class="form-group">
            <%= f.text_field :email, :required => true, type: 'email', class: 'form-control', placeholder: 'рдЕрдкрдирд╛ рдИрдореЗрд▓ рдЖрдИрдбреА рд▓рд┐рдЦреЗ' %>
            </div>
            <div class="form-group">
            <%= f.text_area :body, :required => true, class: 'form-control', placeholder: 'рдЕрдкрдирд╛ рд╕рдиреНрджреЗрд╢ рд▓рд┐рдЦреЗ' %>
            </div>
            <div class="text-center">
              <%= f.submit 'Submit', value: 'рднреЗрдЬреЗ', class: 'btn btn-danger' %>
            </div>
          <% end %>
          <div class="contact_box mt-2"></div>
        </div>
        <hr class="d-sm-none" width="100%">
        <div class="col-sm-6 address-box py-4 text-center">
          <h4 class="mt-3"><strong>рд╢реНрд░реА рд░рд╛рдо рдЬрд╛рдирдХреА</strong></h4>
          <div><strong>рдард░реЗрд╢реНрд░реА рдмрд╛рдмрд╛ рдорда</strong></div>
          <p>рдЧрд╛рдБрд╡:- рдХрд▓реНрдпрд╛рдгрдкреБрд░ <br />рдерд╛рдирд╛:- рдкрддрд╛рд╣реА <br />рдЬрд┐рд▓рд╛:- рдкреВрд░реНрд╡реА рдЪрдВрдкрд╛рд░рдг <br />рдмрд┐рд╣рд╛рд░ - 845457<br>+91-8800133342</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--static on all pages-->

      <!-- FOOTER -->
<footer class="blog-footer ram">
  <div class="footer-texts"><span>Copyright ┬й <%= Date.current.year %></span> <span>ЁЯЩП рд╢реНрд░реА рд░рд╛рдо рдЬрд╛рдирдХреА рдорда, рдХрд▓реНрдпрд╛рдгрдкреБрд░ ЁЯЩП</span><span> All Rights Reserved.</span></div>
</footer>
  </body>
</html>
