<!DOCTYPE html>
<html>
  <head>
    <title>Shree Ram Janaki Math Kalyanpur</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', :except=>'active_admin.scss', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext') %> 
    <%= javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js') %> 
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Navigation -->
    <div class="container">
        <a class="navbar-brand logo" href="/"></a><a><%= image_tag("logo.png", border:0, width: '250', alt: "Shree Ram Janaki Math") %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
          </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- Navigation -->
      <!--section-->
      <%= yield %>
      <!--section-->
<!--static on all pages-->
<div class="album py-5 bg-warning" id="subscribed">
  <div class="container color-white">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4>Join Our Mailing List</h4>
        <p>Be the first to hear about new designs, upcoming sales, and furniture trends.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="max-width: 768px;margin:auto;">
        <%= form_for(Subscriber.new, remote: true) do |f| %>
          <div class="form-group row">
            <%= f.hidden_field :pagename, :value => controller.controller_name %>
            <div class="col-8 col-sm-10">
              <%= f.text_field :email, :required => true, type: 'email', class: 'form-control form-control', placeholder: 'Enter your email'  %>
            </div>
            <div class="col-3 col-sm-2">
              <%= f.submit 'Subscribe', class: 'btn btn-danger mb-2' %>
            </div>
          </div>
          <% end %>
          <div id="subscriber-message">
            <% if flash.now[:notice] %>
              <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
                <strong><%= notice %></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <% end %>
        </div>
      </div> 
    </div>
  </div>
</div>

<div class="footer-area" id="contact">
  <div class="album py-5" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h4>Get In Touch</h4>
          <!--<form>
            <div class="form-group">
              <input type="name" class="form-control" id="exampleInputName" placeholder="Enter name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Messages"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <br>-->
          <% if flash[:alert] %>
            <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
              <strong><%= alert %></strong>
              <button type="button" class="close bg-danger" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>

          <%= form_for Contact.new do |f| %>
            <%= f.hidden_field :pagename, :value => controller.controller_name %>
            <div class="form-group">
            <%= f.text_field :name, :required => true, class: 'form-control', placeholder: 'Enter name'  %>
            </div>
            <div class="form-group">
            <%= f.text_field :email, :required => true, type: 'email', class: 'form-control', placeholder: 'Enter email' %>
            </div>
            <div class="form-group">
            <%= f.text_field :body, :required => true, class: 'form-control', placeholder: 'Messages' %>
            </div>
            <div>
              <%= f.submit 'Submit', class: 'btn btn-danger' %>
            </div>
          <% end %>
        </div>
        <hr class="d-sm-none" width="100%">
        <div class="col-sm-6">
          <h4>Shree Ram Janaki Math</h4>
          <p>Gaon: Kalyanpur, Thana Patahi, District - East Champaran, Bihar - 845457</p>
          <p>+91-8800133342</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--static on all pages-->

      <!-- FOOTER -->
<footer class="blog-footer">
  <div>Copyright © <%= Date.current.year %> Shree Ram Janaki Math, Kalyanpur - All Rights Reserved.</div>
</footer>
  </body>
</html>
