<!DOCTYPE html>
<html>
  <head>
    <title>Glorious furniture</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', :except=>'active_admin.scss', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext') %> 

    <%= javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js') %> 
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Navigation -->
    <div class="container">
        <a class="navbar-brand logo" href="#"><%= image_tag("logo.png", border:0, alt: "Glorious Furniture") %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
          </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cots">Cots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mattresses">Mattresses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sofas">Sofas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/diningtables">Dining Tables</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <!-- Navigation -->
      <!--section-->
      <%= yield %>
      <!--section-->

<!--static on all pages-->
<div class="album py-5 bg-success">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4>Join Our Mailing List</h4>
        <p>Be the first to hear about new designs, upcoming sales, and furniture trends.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="max-width: 768px;margin:auto;">
        <form>
          <div class="form-group row">
            <div class="col-8 col-sm-10">
              <input type="email" class="form-control form-control" id="colFormLabelSm" placeholder="Enter your email">
            </div>
            <div class="col-3 col-sm-2">
              <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
          </div>         
        </form>
      </div>
    </div>
  </div>
</div>


<div class="album py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>Get In Touch</h4>
        <!--<form>
          <div class="form-group">
            <input type="name" class="form-control" id="exampleInputName" placeholder="Enter name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Messages"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>-->
        <%= form_tag home_index_path, :method => 'POST' do %>
          <div class="form-group">
          <%= text_field_tag :name, nil, class: 'form-control', placeholder: 'Enter name'  %>
          </div>
          <div class="form-group">
          <%= text_field_tag :email, nil, type: 'email', class: 'form-control', placeholder: 'Enter email' %>
          </div>
          <div class="form-group">
          <%= text_area_tag :body, nil, class: 'form-control', placeholder: 'Messages' %>
          </div>
          <div>
            <%= submit_tag 'Submit', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
      <hr class="d-sm-none" width="100%">
      <div class="col-sm-6">
        <h4>Glorious Furniture</h4>
        <p>H.No.1-94/1/3, Marrichettu Junction, Opposite Lanco Hills,<br> Manikonda, Sri Laxmi Nagar Colony, Manikonda,<br> Hyderabad, Telangana 500089, India</p>
        <p>+91-7093937777</p>
        <h4>Hours</h4>
        <p>Monday - Sunday: 10am - 9pm</p>
      </div>
    </div>
  </div>
</div>

<!--static on all pages-->

      <!-- FOOTER -->
<footer class="blog-footer">
  <p>Copyright © 2015 Glorious Furniture - All Rights Reserved.</p>
</footer>
  </body>
</html>
